<footer style="margin-top:5rem;">
    <div class="f-info" style="display: flex; flex: 1;">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="f-info-brand">&copy; Homie Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms & Conditions</a>
        </div>
    </div>
</footer>