
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/" style="color: white;">
      <i class="fa-solid fa-house-medical-circle-check"></i>
    </a>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left - Navigation Links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">All Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new">New Doctor</a>
        </li>

      </ul>
      
      
     
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
          <button class="search-btn btn btn-danger" type="submit">Search</button>
        </form>
        </ul>
        </div>
        <div class="userroute collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav ms-auto">
          <%if(!currUser){%>
            <li class="nav-item"><a href="/user/signup" class="nav-link active" >Signup</a></li>
            <li class="nav-item"><a href="/user/login" class="nav-link active" ><i class="fa-solid fa-arrow-down"></i>&nbsp;&nbsp;Login</a></li>
         <% }%>
          <%if(currUser){%>
            <li class="nav-item"><a href="/appointment/<%=currUser.id%>" class="nav-link active">Your Appointments</a></li>
            <li class="nav-item"><a href="/user/logout" class="nav-link active" >Logout</a></li>
          <%}%>
       
        
        
      </ul>
    </div>
  </div>
</nav>
