<% layout('/layouts/boilerplateCode.ejs') -%>

<div class="row offset-4">
  <h3>Book Appointment</h3>
  <form>
    <div class="form-group">
      <label for="name" class="col-sm-2 col-form-label">Patients Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="name" name="appointment[name]" placeholder="e.g: Jane Doe">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-7">
        <input type="email" placeholder="email@id" class="form-control" id="email" name="appointment[email]">
      </div>
    </div>
    <div class="form-group">
      
      <label for="contact"class="col-sm-2 col-form-label">Contact Number</label>
      <div class="col-sm-7">
        <input type="number"  placeholder="91+"  class="form-control" id="contact" name="appointment[phone]">
      </div>
    </div>
    <div class="form-group ">
      
      <div class="col-sm-4 dates">
        <label for="date" class="col-sm-5 col-form-label mb-1">Select Date</label>
        <input type="text" class="form-control" id="calendar" name="appointment[date]" placeholder="Select a date">

      
     <div class="slots">
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Slot</legend>
            <div class="radios col-sm-10">
              <%for(slot of doctor.slots){%>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="appointment[slot]" id="gridRadios" value="<%=slot%>">
                  <label class="form-check-label" for="gridRadios">
                    <%=slot%>
                  </label>
                </div>
                <%}%>
            </div>
         
        </fieldset>
      </div>
      <div class="form-group row">
        <div class="col-sm-7">
          <button type="submit" class="btn btn-primary">Book</button>
        </div>
      </div>
      </div>
      </div>
    </div>
    
    
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr("#calendar", {
    minDate: "today",             // can't pick past dates
    maxDate: new Date().fp_incr(45),  // limit to 21 days (3 weeks) from today
    dateFormat: "d-m-Y"
  });
</script>
