<% layout('/layouts/boilerplateCode.ejs') -%>

    <div class="row">
    <%for(let doctor of doctors){%>
        
            <div class="card" style="width: 18rem;">
                <img src="<%=doctor.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=doctor.name%></h5>
                  <p class="card-text"><%=doctor.specializations%></p>
                  <a href="/" class="btn btn-primary">Visit Profile</a>
                </div>
              </div>
        
    <%}%>
    </div>



