<% layout('/layouts/boilerplateCode.ejs') -%>
<body class="main">
    <div class="row mt-3">
        <div class="col-6 offset-3">
    <h1>New Doctor</h1>
    
    <form action="/" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <lable for="name" class="form-label">Enter Name</lable>
        <input type="text" name="doctor[name]" placeholder="Enter Name" class="form-control" required/>
        <div class="valid-feedback">Name Looks Good!</div>
        <div class="invalid-feedback">Invalid-Name</div>
    </div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="doctor[description]" id="description" cols="30" rows="5"class="form-control" required></textarea>
</div>
    <div class="row">
<div class="mb-3 col-md-4">
        <lable for="price" class="form-label">Enter Price</lable>
        <input type="number"  name="doctor[price]" placeholder="Enter Price" class="form-control" />
        <div class="invalid-feedback">Invalid Price</div>
    </div>
    <div class="mb-3 col-md-8">
        <lable for="phone" class="form-label">Contact Number</lable>
        <input  type="number" name="doctor[phone]" placeholder="Enter Contact Number" class="form-control" required/>
        <div class="invalid-feedback">Invalid Price</div>
    </div>
</div>
<div class="mb-3">
    <lable for="address" class="form-label">Enter Address</lable>
    <input type="text" name="doctor[address]" placeholder="Enter Address" class="form-control" required/>
    <div class="invalid-feedback">Invalid Address</div>
</div>

    <div class="mb-3">
        <lable for="image" class="form-label">Image url</lable>
        <input type="file" name="doctor[image]" placeholder="Image/optional" class="form-control"/>
    </div>
        
        <div class="mb-1">
            <lable for="country" class="form-label">Your Email-id</lable>
            <input type="email" name="doctor[email]" placeholder="Email" class="form-control" required/>
            <div class="invalid-feedback">Invalid Email-id</div>
        </div>
    <div class="">
        <lable for="image" class="form-label">Enter your speacializations separated by a ","</lable>
        <input type="text" name="doctor[specializations]" placeholder="e.g: Cardiology,Neuro Surgeon,Dentist" class="form-control" required/>
    </div>
    <br>
    <div>
        <button class="btn btn-secondary mt-3 mb-4 add-btn">Add</button>
    </div>
    </form>
</div>
</div>
</body>
