body{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    /* background-color: #FED2E2; */
}
/* adjusting footer and navbar */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}





/* card styling */
.card{
    border: none;
}
.card:hover{
    opacity: 0.8;
}
.listings{
    text-decoration: none;
}
.card-img-top{
    border-radius: 5px;
}
.index-image{
height: 250px;
}
.all{
    margin-top: 2rem;
}
/* navbar */
.navbar-brand{
    font-size: 2.5rem;
}
.navbar{
    padding-left: 1rem;
    /* background-color: #8F87F1 !important; */
    /* background-color: #00004E !important; */
    /* background-color:  rgba(0,212,255,1)!important; */
    /* background: rgb(2,0,36);
   
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%); */
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    margin-bottom: 1rem;
    
}
.nav-item a{
    color: white !important;
}
.nav-item a:hover{
    /* text-shadow:3px 3px 3px black; */
    text-decoration: underline;
}

/* styling the index */
.index{
    font-family: "Exo 2", sans-serif !important;
}
.card{
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px white ;
    
}


/* footer */
.f-info{
    /* background-color: #8F87F1; */
    /* background-color: #00004E !important; */
    background-color:   rgba(9,9,121,1)!important;
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.f-info-links, .f-info-socials{
    width: 100%;
}
 .f-info-socials i{
    margin-right: 1rem;
}

.f-info-links a,.f-info-brand,.f-info{
    text-decoration: none;
    color: white !important;
}
.f-info-links a:hover{
    text-decoration: underline;
}


/* ones */
.ones:hover{
    opacity: 1;
}
.description-box {
    background-color: #90deee;
    height: fit-content;
    transform: scaleX(0);
    transform-origin: left;
    animation: slideRight 0.8s ease forwards;
    padding: 1rem; /* Optional: to make it look better */
    opacity: 0;
    border-radius:6px ;
  }
  
  @keyframes slideRight {
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  
  
/* show route */
.button{
    display: flex;
   
   width:20rem;
   justify-content: space-between;

}
/* /* buttons */
.add-btn{
    border: 2px solid white;
    width:6rem;
}
.search-btn {
    border-radius: 3rem;
}

.search-input {
    border-radius: 3rem;
}

/* .add-btn:hover {
    background-color: #060661;
    border: 2px solid white;
    color: white;
    font-size: large;
} */

/* login logout designing */

/* review card styling */
/* .reviewCard {
    border: 4px solid rgba(9, 9, 121, 1);
    background: linear-gradient(135deg, rgba(173, 216, 230, 1), rgba(186, 104, 200, 1));
} */

